<%- include('../partials/header') %>
<script src="/javascripts/resizeDrag.js" defer></script>
<script src="/javascripts/canvasClone.js" defer></script>

<main>
<title>Cloning <%= vibe.name %></title>

<div class="canvas-box">
    <div class="namebox">
        <form onkeydown="return event.key != 'Enter';">
         <input type="text" id="vibename" maxlength="100" value="<%= vibe.name %>">
            <button id="vibename-submit" type="button">Update name</button>
        </form>
        <h1 id="template-title"><%= vibe.name %></h1>
        <h1 id="vibename-h1"></h1>
    </div>

    <div class="buttons">
        <button id="image">Image</button>
        <button id="text">Text</button>
        <button id="link">Link</button>
        <button id="toggle-headers">Toggle headers</button>
        <button id="update">SAVE</button>
    </div>

        <div id="canvas">
            <div id="image-popup">
                Provide url of image to be added
                <div id="add-url" input type="text" contenteditable="true"></div>
                <div class="wrapper" style="gap: 10px">
                    <button id="cancel-image">Cancel</button>
                    <button id="submit-image">Add</button>
                </div>  
            </div>
            <div id="link-popup">
                Provide url of link to be added
                <div id="add-link" input type="text" contenteditable="true"></div>
                Provide text to display (optional)
                <div id="link-text" input type="text" contenteditable="true"></div>
                <div class="wrapper" style="gap: 10px">
                    <button id="cancel-link">Cancel</button>
                    <button id="submit-link">Add</button>
                </div>
            </div>
            <% for (let item of vibe.items) { %>
                <%- item.content %>
            <% } %>
    </div>
</div>

<%- include('../partials/footer') %>