<%- include('../partials/header') %>
<main>
<title><%= vibe.name %> by <%= vibe.user.username %></title>    
<div class="canvas-box">
    <div class="namebox">
        <h3><%= vibe.name %> by <a href="/users/<%= vibe.user._id %>"><%= vibe.user.username %></a></h3>
    </div>
    <div class="buttons">
    <% if (user) { %>
        <% if (vibe.likedBy.indexOf(user._id) === -1) { %>
        <form action="/vibes/<%= vibe._id %>/like?_method=PUT" method="POST">
            <button>LIKE</button>
        </form>
        <% } else { %>
        <form action="/vibes/<%= vibe._id %>/like?_method=PUT" method="POST">
            <button>UNLIKE</button>
        </form>
        <% } %>
        <form action="/vibes/<%= vibe._id %>/clone" method="GET">
            <button>CLONE</button>
        </form>
    <% } %>
    <% if (user && user._id.toString() === vibe.user._id.toString()) { %>
        <form action="/vibes/<%= vibe._id %>/edit" method="GET">
            <button>EDIT</button>
        </form>
        <form action="/vibes/<%= vibe._id %>?_method=DELETE" method="POST">
            <button>DELETE</button>
        </form>
    <% } %>
</div>

<div id="canvas">
    <% for (let item of vibe.items) { %>
        <%- item.content %>
    <% } %>
    </div>
</div>
    
<%- include('../partials/footer') %>