<!-- View published board -->
<%- include('../partials/header') %>
<div class="show-header">
    <h1><%= vibe.name %> by <a href="/users/<%= vibe.user._id %>"><%= vibe.user.name %></a></h1>
    <% if (user) { %>
        <button id="vibe-like">LIKE</button>
    <% } %>
   <% if (user && user._id.toString() === vibe.user._id.toString()) { %>
        <form action="/vibes/<%= vibe._id %>/edit" method="GET">
            <button>EDIT</button>
        </form>
        <form action="/vibes/<%= vibe._id %>?_method=DELETE" method="POST">
            <button>DELETE</button>
        </form>
        
    <% } %>
</div>
    
<div id="canvas">
<% for (let item of vibe.items) { %>
    <%- item.content %>
<% } %>
</div>

<%- include('../partials/footer') %>