<!-- View published board -->
<%- include('../partials/header') %>

<h1> <%= vibe.name %> by <%= user.name %> </h1>

<div id="canvas">
<% for (let item of vibe.items) { %>
    <%- item.content %>
<% } %>
</div>

<%- include('../partials/footer') %>