<!-- View user's boards, conditional option to delete if session = user -->
<%- include('../partials/header') %>

<a href="#">My vibes</a>
<a href="#">Liked</a>
<a href="/users/<%= user._id %>/settings">Settings</a>

<% for (let vibe of vibes) { %>
    <h1> <%= vibe.name %></h1>
    <div class="canvas">
        <% for (let item of vibe.items) { %>
            <%- item.content %>
        <% } %>
    </div>    
<% } %>

<%- include('../partials/footer') %>