<!-- View user's boards, conditional option to delete if session = user -->
<%- include('../partials/header') %>

<% if (user && user._id.toString() === vibeuser._id.toString()) { %>
    <a href="#">Your vibes</a>  
    <a href="#">Liked</a>
    <a href="/users/<%= user._id %>/settings">Settings</a>
    <% } else { %> 
        <a href="#">User's vibes</a>
        <a href="#">Liked</a>
    <% } %>
        

<% if (user && user._id.toString() === vibeuser._id.toString()) { %>
    <h1>Your vibes</h1> 
    <% } else { %> 
        <h1>Vibes by <%= vibeuser.name %></h1>
        <% } %>
<!-- TODO link edit and delete by parent's id -->
<% if (vibes.length === 0) { %>
    <h2>Looks like there's nothing here! Don't be shy, create a vibe of your own</h2>
    <% } %>
<% for (let vibe of vibes) { %>
    <h1> <%= vibe.name %></h1>
    <% if (user) { %>
        <button class="like">LIKE</button>
    <% } %>
    <% if (user && user._id.toString() === vibeuser._id.toString()) { %>
        <form action="/vibes/<%= vibe._id %>/edit" method="GET">
            <button>EDIT</button>
        </form>
        <form action="/vibes/<%= vibe._id %>?_method=DELETE" method="POST">
            <button>DELETE</button>
        </form>
        
    <% } %>
    <div class="canvas">
        <% for (let item of vibe.items) { %>
            <%- item.content %>
        <% } %>
    </div>    
<% } %>


<%- include('../partials/footer') %>